<!DOCTYPE html>
<html>
<head>
    <title>铭湖健身客户信息查询</title>
    <link rel="stylesheet" href="../static/css/minghu.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div id="inputContents">
        <h3>请输入客户编码及姓名（支持模糊查询）：</h3>
        
        <input type="text" id="cusNameInput" style="width: 100px;" oninput="handleInput()">
        <ul id="cusNameResultList"></ul>
        <p></p>

        <h3>购课日期</h3>
        <div id="date">
            <form>
                <label for="dateInput"></label>
                <input type="date" id="dateInput" name="dateInput" oninput="fillBuyCode()">
                <br>
            </form>
        </div>
        <h3>客户购课编号</h3>
        <input type="text" id="buyCode" style="width: 190px;" oninput="isValidDate()" onclick="get_cus_buy()" >
        <div id="buyHistory" class="buy-list"></div>
        <div id="buyCodeErr" class="inline2"></div>
        <p></p>    

        <ul id="resultList"></ul>
        <ul id="cus_info"></ul>

        <h3>购课类型</h3>
        <select id="buyType">
            <option value="">请选择</option>
        </select>
        <div id="errBuyType" class="inline2"></div>

        <h3>购课节数</h3>
        <input type="number" id="buyNum" name="buyNum" step="1" oninput="onInputBuyNumDaysCheck(this.id)">
        <div id="errBuyNum" class="inline2" ></div>
        <p></p>

        <h3>购课时长（天）</h3>
        <input type="number" id="buyDays" name="buyDays" step="1" oninput="onInputBuyNumDaysCheck(this.id)">
        <div id="errBuyDays" class="inline2" ></div>
        <p></p>

        <h3>应收金额</h3>
        <input type="number" id="pay" name="pay" step="0.01">
        <p></p>

        <h3>实收金额</h3>
        <input type="number" id="realPay" name="realPay" step="0.01">
        <p></p>

        <h3>收款人</h3>
        <select id="cashier">
            <option value="">请选择</option>
        </select>

        <h3>收入类别</h3>
        <select id="incomeType">
            <option value="">请选择</option>
        </select>

        <h3>备注</h3>
        <input type="text" id="comment" style="width: 190px;height: 80px;">

        
        <div  class="inline2" id="other_info" >
            <p></p>
            <p></p>
            <div  id="open_cus_fn_res"></div>
            <p></p>
            <div id="err_no_result"></div>
        </div>

        <div class="inline2" id="status"></div>
    </div>
    <p></p>
    <div id="showDealResult" style="display:none">正在购课，请稍等。</div>
    <div><button  style="margin-right:5px;" onclick="submit()">提交</button></div>

    <script src="../static/js/moment.min.js"></script>
    <script src="../static/js/common.js"></script>
    <script> 
        let cus_list;
        let selectedName;
        let tmplt_info;
        let buy_list;
        const allError={'dateError':0,'buyNumError':0};
        // 使用DOMContentLoaded事件监听，在页面加载完成后触发获取数据的操作
        document.addEventListener("DOMContentLoaded", function() {   
            const buyCodeBox=document.getElementById('buyCode');
            const historyDiv=document.getElementById('buyHistory');

            //页面加载时，在页面上绑定点击时隐藏购课编码div的动作
            document.addEventListener("click",function(){
                historyDiv.style.display='none';
            });
            
            buyCodeBox.addEventListener('click', function (event) {
            // 阻止事件冒泡，使得点击 input 不会触发 document 的点击事件
                event.stopPropagation();
            // 显示 history 框
                historyDiv.style.display = 'block';
            });


            selectToday(id='dateInput',format='date');

            fetch('/get_template_info', {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain'
                    }
                })
                .then(response => response.json())
                .then(data => {
            //将data赋值给块变量cus_list，供后面的handleInput使用
                tmplt_info=data;
                console.log(data)
                generateBuyTypeSelect(data);
                cashierSelect(data);
                incomeTypeSelect(data);
                  })
                .catch(error => console.error('Error:', error));


            fetch('/get_cus_list', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                //将data赋值给块变量cus_list，供后面的handleInput使用
                    cus_list=data
                })
            .catch(error => console.error('Error:', error));
            // 这里可以通过 JavaScript 来遍历某个文件夹中的文件，生成名字列表
            // var names = ["Alice", "Bob", "Charlie", "David"];    

            
        });
        
        function hide_cus_buy(){
            document.getElementById('buyHistory').style.display='none';
        }

        function get_cus_buy(){
            document.getElementById('buyHistory').style.display='block';
            const buyDays=document.getElementById('buyDays');
            const buyNum=document.getElementById('buyNum');
            const buyType=document.getElementById('buyType');
            const buyPay=document.getElementById('pay');   
            const errBuyType=document.getElementById('errBuyType');
            const realPay=document.getElementById('realPay');
            
            buyDays.disabled=false;
            buyNum.disabled=false;
            buyType.disabled=false;
            buyPay.disabled=false;

            realPay.value='';
            buyPay.value='';
            buyNum.value='';


            fetch('/get_cus_buy',{
            method:"POST",
            headers:{
                "Content-Type":"text/plain"
            },
            body: document.getElementById('cusNameInput').value
            })
            .then(response=>response.json())
            .then(jsonDataRes=>{
                console.log(jsonDataRes)
                const tableContainer = document.getElementById('buyHistory');
                tableContainer.innerHTML=''
                const jsonData=jsonDataRes['buy_stat_list']
                if(jsonData){
                    // 创建表格元素
                    const table = document.createElement('table');

                    // 创建表头行
                    const headerRow = table.insertRow();
                    headerRow.classList.add('header-row');
                    for (const header of ['购课编码','课程类型','应收金额','实收金额','未收金额','收款次数','收款日期']) {
                    const cell = headerRow.insertCell();
                    cell.textContent = header;
                    }

                    // 创建表格内容
                    for (let i = 0; i < Object.keys(jsonData).length; i++) {
                    const row = table.insertRow();
                        for (let j=0;j<jsonData[0].length;j++) {
                            const cell = row.insertCell();
                            cell.textContent = jsonData[i][j];                    
                        }
                        
                        // row.addEventListener('click', function(){
                        //     // 在点击时获取购课编码并打印
                        //     const buyCode = jsonData[i][0]; // 假设购课编码在第一列
                        //     console.log('购课编码:', buyCode);
                        // // 在这里可以执行其他操作，如传递购课编码给其他函数等等
                        // });

                        //点击选择时执行以下操作：禁用一些项目的录入
                        (function(index) {
                            row.addEventListener('click', function(event) {
                            // 阻止事件冒泡，使得点击 history 不会触发 document 的点击事件
                                event.stopPropagation();
                                realPay.value='';
                                buyNum.value='';
                                buyDays.value='';
                                buyPay.value='';
                                if(document.getElementById('buyType').value==='常规私教课'||document.getElementById('buyType').value==='常规团课'){
                                    document.getElementById('buyDays').disabled=true;
                                }else if(document.getElementById('buyType').value ==='限时私教课' ||document.getElementById('buyType').value ==='限时团课'){
                                    document.getElementById('buyDays').disabled=false;}
                                
                            //隐藏buyhistory框
                                const historyDiv=document.getElementById('buyHistory');
                                historyDiv.style.display='none';

                                const buyCode = jsonData[index][0]; // 课编码在第一列
                                const notPayAmount=jsonData[index][4]; //未收金额
                                console.log('购课编码:', buyCode);
                                document.getElementById('buyCode').value=buyCode;

                                
                                const buyRecords=Object.keys(buy_list).map(key => (buy_list[key]));
                                console.log(buyRecords);
                                buyRecords.forEach(buyRec=> {
                                    if(buyRec['购课编码']===buyCode){
                                        document.getElementById('buyType').value=buyRec['购课类型'];
                                        document.getElementById('buyNum').value=buyRec['购课节数'];
                                        document.getElementById('buyDays').value=buyRec['购课时长（天）'];
                                        document.getElementById('pay').value=buyRec['应收金额'];
                                        if(parseFloat(notPayAmount)>0){
                                            realPay.value=notPayAmount;
                                        }

                                    }
                                });

                                buyDays.disabled=true;
                                buyNum.disabled=true;
                                buyType.disabled=true;
                                buyPay.disabled=true;
                                errBuyType.innerText=''


                                // if(document.getElementById('buyType').value==='常规私教课'||document.getElementById('buyType').value==='常规团课'){
                                //     document.getElementById('buyDays').disabled=true;
                                //     document.getElementById('buyType').disabled=true;
                                //     document.getElementById('buyNum').disabled=true;
                                // }else if(document.getElementById('buyType').value ==='限时私教课' ||document.getElementById('buyType').value ==='限时团课'){
                                //     document.getElementById('buyDays').disabled=false;
                                //     document.getElementById('buyType').disabled=false;
                                //     document.getElementById('buyNum').disabled=false;
                                // }
                            });
                        })(i);


                        // 将表格添加到div中
                        tableContainer.appendChild(table);
                    }                   
                }else{
                    // 如没有购课历史，则根据购课类型禁用或打开购课时长
                    if(document.getElementById('buyType').value==='常规私教课'||document.getElementById('buyType').value==='常规团课'){
                                    document.getElementById('buyDays').disabled=true;
                                }else if(document.getElementById('buyType').value ==='限时私教课' ||document.getElementById('buyType').value ==='限时团课'){
                                    document.getElementById('buyDays').disabled=false;}
                }
                
            })
            .catch(error=>{
                console.log(error)
            });
        }

        function onInputBuyNumDaysCheck(id){
            console.log(id)
            console.log(document.getElementById('buyType').value,document.getElementById('buyNum').value,document.getElementById('buyDays').value)
            const InputBox=document.getElementById(id)
            document.getElementById('errBuyDays').innerText='';
            document.getElementById('errBuyNum').innerText='';
            document.getElementById('errBuyType').innerText='';
         
            if(document.getElementById('buyType').value==='限时私教课'){
                if(document.getElementById('buyDays').value==='' &&  document.getElementById('buyNum').value ||
                    document.getElementById('buyDays').value===0 &&  document.getElementById('buyNum').value){
                    document.getElementById('errBuyDays').innerText='限时私教课必须输入天数';
                }else if(document.getElementById('buyDays').value &&  document.getElementById('buyNum').value==='' ||
                    document.getElementById('buyDays').value &&  document.getElementById('buyNum').value===0){
                    document.getElementById('errBuyNum').innerText='限时私教课必须输入节数';
                }else if(!(document.getElementById('buyDays').value &&  document.getElementById('buyNum').value)){
                    document.getElementById('errBuyType').innerText='限时私教课必须同时输入节数和天数';
                }else{
                    document.getElementById('errBuyDays').innerText='';
                    document.getElementById('errBuyNum').innerText='';
                    document.getElementById('errBuyType').innerText='';
                }
                
            }

        }

        function showBuyTypePrompt(){
            const buyTypeSelect=document.getElementById('buyType');
            console.log(buyTypeSelect.value);
            const buyDaysInput=document.getElementById('buyDays');               
            buyDaysInput.removeAttribute('disabled');
            document.getElementById('errBuyDays').innerText='';
            document.getElementById('errBuyNum').innerText='';
            document.getElementById('errBuyType').innerText='';
            if(buyTypeSelect.value==='限时私教课'){                    
                buyDaysInput.removeAttribute('disabled');
                if(document.getElementById('buyDays').value==='' &&  document.getElementById('buyNum').value ||
                    document.getElementById('buyDays').value===0 &&  document.getElementById('buyNum').value){
                    document.getElementById('errBuyDays').innerText='限时私教课必须输入天数'
                }else if(document.getElementById('buyDays').value &&  document.getElementById('buyNum').value==='' ||
                    document.getElementById('buyDays').value &&  document.getElementById('buyNum').value===0){
                    document.getElementById('errBuyNum').innerText='限时私教课必须输入节数'
                }else if(!(document.getElementById('buyDays').value &&  document.getElementById('buyNum').value)){
                    document.getElementById('errBuyType').innerText='限时私教课必须同时输入节数和天数'
                }else{
                    document.getElementById('errBuyDays').innerText='';
                    document.getElementById('errBuyNum').innerText='';
                    document.getElementById('errBuyType').innerText='';
                }                    
            }
            if(buyTypeSelect.value==='常规私教课'){      
                buyDaysInput.value='';              
                buyDaysInput.setAttribute('disabled','true');
            }

        }

        function generateBuyTypeSelect(data){
            let buyTypeSelect=document.getElementById('buyType')
            const buyTypes=data.cls_types;
            buyTypes.forEach(function(buyType){
                let option=document.createElement('option');
                option.value=buyType;
                option.innerText=buyType;
                buyTypeSelect.appendChild(option);
            });
            buyTypeSelect.addEventListener("change",function(){
                showBuyTypePrompt()
            });
        }

        function submitCheck(){
            const allInputBox=document.getElementById('inputContents');
            const inputElements=allInputBox.querySelectorAll('input');
            const selectElements=allInputBox.querySelectorAll('select');
            try{
                inputElements.forEach((input)=>{              
                    console.log(input.value);
                    if(document.getElementById('buyType').value==='限时私教课'){
                        if(input.id!=='comment' && !input.value){
                        throw new Error('输入项 '+input.id+' 有空值或未选择');                        
                        }
                    }else{
                        if(input.id!=='comment' && input.id!=='buyDays' && !input.value){
                        throw new Error('输入项 '+input.id+' 有空值或未选择'); 
                        }
                    }
                    
                    if(document.getElementById('buyDays').value==='0'|| document.getElementById('buyNum').value==='0'
                        || document.getElementById('pay').value==='0' || document.getElementById('realPay').value==='0'
                        ){
                        throw new Error('不能有0值');
                    }                   
                    if(document.getElementById('buyType').value==='限时私教课'){
                        if(
                            document.getElementById('buyDays').value==='' || document.getElementById('buyNum').value===''
                            || document.getElementById('buyDays').value===0 || document.getElementById('buyNum').value===0
                        ){
                            throw new Error('限时课程必须同时输入购课节数及购课时长（天）');
                        }
                    }                    
                });
                selectElements.forEach((select)=>{
                    console.log(select.value);
                    if(!select.value){
                        throw new Error('选择项 '+select.id+' 未选择');
                    }
                });
                return 'True';
            }catch(error){
                // alert('字段 '+error+' 有空格/未选择');
                return error;
            }
        }

        function submit(){
            try{
                if(submitCheck()==='True'){
                    const inputContents=document.getElementById('inputContents');
                    const inputElements=inputContents.querySelectorAll('input');
                    const dataKey=['客户编码及姓名','收款日期','客户购课编号','购课节数','购课时长（天）','应收金额','实收金额','备注'];
                    n=0;
                    let data={};
                    // data加入输入的内容    
                    inputElements.forEach((input)=>{
                        console.log(input.value);
                        data[dataKey[n]]=input.value;
                        n+=1;
                    });   
                    // data加入选择的内容                 
                    data['购课类型']=document.getElementById('buyType').value;
                    data['收款人']=document.getElementById('cashier').value;
                    data['收入类别']=document.getElementById('incomeType').value;

                    // 非限时课程，时长设置为99999天
                    if(['常规私教课','常规团课'].includes(data['购课类型'])){
                        data['购课时长（天）']=99999;
                    }

                    //改写页面的状态提示
                    document.getElementById('status').innerText='正在写入'

                    fetch('/write_buy',{
                        method:"POST",
                        headers:{
                            'Content-Type':'application/json'
                        },
                        body:JSON.stringify(data)
                    })
                    .then(response=>response.text())
                    .then(data=>{
                        console.log(data)
                        alert('购课记录增加成功')
                        window.location.href='./';
                    })
                    .catch(error=>{
                        console.error('Error:',error.message)
                    });

                    
                }else{
                    throw new Error(submitCheck());
                }            
            }catch(error){
                alert(error.message);
            }

        }

        function incomeTypeSelect(data){
            let incomeTypeSelect=document.getElementById('incomeType')
            const incomeTypes=data.income_types;
            incomeTypes.forEach(function(incomeType){
                let option=document.createElement('option');
                option.value=incomeType;
                option.innerText=incomeType;
                incomeTypeSelect.appendChild(option)
            })
        }

        function cashierSelect(data){
            let cashierSelect=document.getElementById('cashier')
            const cashiers=data.cashiers;
            cashiers.forEach(function(cashier){
                let option=document.createElement('option');
                option.value=cashier;
                option.innerText=cashier;
                cashierSelect.appendChild(option)
            })
        }

        function fillBuyCode(){
            const cusName=document.getElementById('cusNameInput').value.trim();
            const dateInput=document.getElementById('dateInput').value.trim()
            const dateTxt=dateInput.replace(/-/g,"")
            const ptn=/^MH\d{3}.*\d{8}$/;
            if (cusName !== "" && dateInput !== "" ) {
                // var cusIDName=document.getElementById('cusNameInput').value
                const testBuyCode=cusName+dateTxt
                console.log(testBuyCode)
                if(ptn.test(testBuyCode)){
                    const buyCodeInput=document.getElementById('buyCode');
                    buyCodeInput.value=testBuyCode;
                }else{
                    // input3.style.display = "none";
                }
                
            } else {
                // input3.style.display = "none";
            }
        }

        function handleInput() {
            // 获取输入框中的值
            const searchTerm = document.getElementById("cusNameInput").value.trim();
            const UpperSearchTerm=searchTerm.toUpperCase();
            // 获取展示结果的列表元素
            const resultList = document.getElementById("cusNameResultList");

            // 清空列表
            resultList.innerHTML = "";

            if (UpperSearchTerm === "") {
                resultList.style.display = "none";
                return; // 输入框为空，不做处理
            }else{
                resultList.style.display = "block";
            }

            // 遍历给定的数组，进行模糊匹配
            cus_list.reverse().forEach(function(name) {
                if (name.includes(UpperSearchTerm)) {
                    // 创建列表项元素，并设置其文本内容为匹配到的结果
                    const listItem = document.createElement("li");
                    listItem.innerText = name;
                    

                    // 添加点击事件监听器
                    listItem.addEventListener("click", function() {
                        // 点击后将完整的姓名设置为输入框的值
                        selectedName=name;
                        document.getElementById("cusNameInput").value = name;    
                        const buyCode=document.getElementById('buyCode');
                        const buyCodeErr=document.getElementById('buyCodeErr');
                        buyCode.value='';
                        buyCodeErr.innerText='';

                        // 检查课程类型，给出提示
                        showBuyTypePrompt()


                        // 填写进购课编号
                        fillBuyCode()
                        // 清空结果列表
                        resultList.innerHTML = "";  

                        //点击姓名时读取购课记录
                        fetch('/deal_start_limit_page', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'text/plain'
                                },
                            body:name
                            })
                            .then(response => response.json())
                            .then(data => {
                        //将data赋值给块变量cus_list，供后面的handleInput使用
                            console.log(data);
                            buy_list=data['buy_list'];})
                            .catch(error=>{
                                console.error('读取购课记录错误：',error)
                            });
                    });

                    // 将列表项添加到结果列表中
                    resultList.appendChild(listItem);
                }
            });
        
            resultList.classList.add("cus-list-input-buy");
        }
    
        function get_cus_info() {
            var selectedName = document.getElementById("cusNameInput").value;
            clear_other_div()
            fetch('/get_cus_info', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ selected_name: selectedName })
            })
            .then(response => response.json())
            .then(data => {                
                console.log(data)
                show_cus_info(data)
                document.getElementById("cus_name").innerText = data['会员编码及姓名'];
                document.getElementById("total_cls_days").innerText = data['上课总天数'];
                document.getElementById("total_pay").innerText = data['总消费金额'];
                document.getElementById("normal_remain").innerText = data['剩余节数-常规私教课']
                document.getElementById("lmt_yn").innerText = data['限时课程是否有效']
                document.getElementById("lmt_due_date").innerText = data['限时课程到期日']

                format_date();
            })
            .catch(error => {
                console.error('Error:', error) 
                document.getElementById("show_info").style.display='none';
                document.getElementById("open_cus_fn_res").innerText='';
                document.getElementById("err_no_result").innerText='无结果';
            
                });
            

        }

        function format_date(){
            var dateContent = document.getElementById("lmt_due_date").innerText;
            if (dateContent!='-'){
                var dateObject = new Date(dateContent);
                // 将日期按照你想要的格式进行处理
                var year = dateObject.getFullYear();
                var month = ("0" + (dateObject.getMonth() + 1)).slice(-2);
                var day = ("0" + dateObject.getDate()).slice(-2);

                // 拼接日期字符串，例如：YYYY-MM-DD
                var formattedDate = year + "-" + month + "-" + day;

                // 将日期显示在页面上
                document.getElementById("lmt_due_date").innerText = formattedDate;
            }
            
        }
  
  
        function isValidDate(){
            let buyCodeErrBox=document.getElementById('buyCodeErr');
            let buyCode=document.getElementById('buyCode').value;
            let dateStr=buyCode.substring(buyCode.length-8);
            const ptn=/^\d{8}/;
            console.log(moment(dateStr,"YYYYMMDD").isValid() && ptn.test(dateStr))
            if(moment(dateStr,"YYYYMMDD").isValid() && ptn.test(dateStr)){    
                buyCodeErrBox.innerText='';
            }else{
                buyCodeErrBox.innerText='日期错误';
                allError.dateError=1;
            }
            console.log(allError);
        }

    </script>
</body>
</html>
