/* 通过类选择器应用样式 */
.inline{
    display: inline-block;
    font-size: 16px;
    color:lightslategray
  }

  .result{
    display: inline-block;
    font-size: 16px;
    color: rgb(196, 162, 24);
  }
  .cus-list {
    font-size: 13px;
    line-height: 25px;
    position: absolute;
    color:rgb(47, 54, 100);
    padding-right: 40px;
    top:50px;
    left:225px;
    background-color: rgb(245, 249, 254);
    z-index: 1;
  }
  