{
    "Summary": {
        "light_orange": {
            "comment_bg": "#fff4ee", 
            "title_bg": "#fff4ee", 
            "logo_bg": "#fff4ee", 
            "train_content_bg": "#ffffff", 
            "txt_person": "#ff6667", 
            "txt_title": "#ff9c6c", 
            "txt_date": "#ff9c6c", 
            "txt_fix": "#898886", 
            "txt_dimension": "#000000", 
            "txt_train": "#ff9c6c", 
            "txt_slogan": "#cd8c52", 
            "gym_info": "#693607"
        }, 
        "light_pink": {
            "comment_bg": "#fdf7f9", 
            "title_bg": "#dfcbe4", 
            "logo_bg": "#fbfbfb", 
            "train_content_bg": "#ffffff", 
            "txt_person": "#d584d0", 
            "txt_title": "#ffffff", 
            "txt_date": "#cf86cd", 
            "txt_fix": "#717171", 
            "txt_dimension": "#000000", 
            "txt_train": "#cf86cd", 
            "txt_slogan": "#b0b0b0", 
            "gym_info": "#b0b0b0"
        }, 
        "strong_blue": {
            "comment_bg": "#e5f5fd", 
            "title_bg": "#e5f5fd", 
            "logo_bg": "#e5f5fd", 
            "train_content_bg": "#ffffff", 
            "txt_person": "#3c5ebb", 
            "txt_title": "#3c5ebb", 
            "txt_date": "#3c5ebb", 
            "txt_fix": "#9c9fa0", 
            "txt_dimension": "#000000", 
            "txt_train": "#3c5ebb", 
            "txt_slogan": "#8da8db", 
            "gym_info": "#2c2e35"
        }
    }, 
    "AfterClass": {
        "pink": {
            "block": {
                "bg": "#ffeeff", 
                "title": "#ff8ddf", 
                "train": "#fee8ff", 
                "train_bar": "#fecaff", 
                "burn": "#ffffff", 
                "cmt":"#FDFDFD",
                "cmt_small_box":"#FDFDFD",
                "suggest": "#f1fcff", 
                "suggest_small_box": "#ffffff"
            }, 
            "edge": {
                "title_box": "#fac1f1", 
                "burn": "#ef7f4e", 
                "cmt_small_box":"#FDFDFD",
                "suggest_small_box": "#808081"
            }, 
            "font": {
                "title": "#ffffff", 
                "train": "#ff8ddf", 
                "burn": "#ef4700", 
                "cmt":"#545353",
                "cmt_title": "#545353", 
                "suggest_title": "#595757", 
                "suggest": "#143f00", 
                "slogan": "#ad5a28"
            }
        },
        "blue": {
            "block": {
                "bg": "#fffcf9", 
                "title": "#abcdff", 
                "train": "#e8f5fe", 
                "train_bar": "#c8dafe", 
                "burn": "#ffffff", 
                "cmt":"#FDFDFD",
                "cmt_small_box":"#FDFDFD",
                "suggest": "#f1fcff", 
                "suggest_small_box": "#ffffff"
            }, 
            "edge": {
                "title_box": "#c1d6fa", 
                "burn": "#ef7f4e", 
                "cmt_small_box":"#FDFDFD",
                "suggest_small_box": "#808081"
            }, 
            "font": {
                "title": "#ffffff", 
                "train": "#646fbe", 
                "burn": "#ef4700", 
                "cmt":"#545353",
                "cmt_title": "#545353", 
                "suggest_title": "#595757", 
                "suggest": "#143f00", 
                "slogan": "#ad5a28"
            }
        },
        "grey": {
            "block": {
                "bg": "#cca387", 
                "title": "#FDFDFD", 
                "train": "#FDFDFD", 
                "train_bar": "#A9A8A8", 
                "burn": "#FDFDFD", 
                "cmt":"#FDFDFD",
                "cmt_small_box":"#FDFDFD",
                "suggest": "#FDFDFD", 
                "suggest_small_box": "#FDFDFD"
            }, 
            "edge": {
                "title_box": "#FBFBFB", 
                "burn": "#FBFBFB", 
                "cmt_small_box":"#FDFDFD",
                "suggest_small_box": "#FDFDFD"
            }, 
            "font": {
                "title": "#545353", 
                "mini_title":"#ffffff",
                "train": "#545353", 
                "burn": "#FF4343",                  
                "cmt":"#545353",
                "cmt_title": "#545353", 
                "suggest_title": "#545353", 
                "suggest": "#545353", 
                "slogan": "#ffffff"
            }
        }
    },
    "PeriodSummary":{
        "lightgrey":{
            "bg":"#F2F2F2",
            "title":"#FFFAC7",
            "basic_info":"#F2F2F2",
            "basic_body":"#ffffff",
            "bmi_bg":"#ffffff",
            "bfr_bg":"#ffffff",
            "radar_bg":"#ffffff",
            "train_rec":"#F2F2F2",
            "msr_change":"#ffffff",
            "msr_chart_bg":"#ffffff",
            "diet":"#F2F2F2",
            "bottom":"#FFE7B9"
            }

    }
}