{
    "会员档案文件夹":"D:\\temp\\铭湖健身测试\\会员资料",
    "专业资料文件夹":"D:\\Documents\\WXWork\\1688851376239499\\WeDrive\\铭湖健身工作室\\05-专业资料",
    "素材文件夹":"D:\\Documents\\WXWork\\1688851376239499\\WeDrive\\铭湖健身工作室\\素材\\公共素材",
    "教练文件夹":"D:\\Documents\\WXWork\\1688851376239499\\WeDrive\\铭湖健身工作室\\03-教练管理\\教练资料",
    "输出文件夹":"D:\\temp\\铭湖健身测试\\会员总结",
    "文案文件夹":"D:\\Documents\\WXWork\\1688851376239499\\WeDrive\\铭湖健身工作室\\01-会员管理",
    "公共素材文件夹":"D:\\Documents\\WXWork\\1688851376239499\\WeDrive\\铭湖健身工作室\\素材\\公共素材",
    "课后反馈文件夹":"D:\\temp\\铭湖健身测试\\会员课后反馈"

}